html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1920px;
  margin: 0 auto;
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.menuLogoBox {
  display: flex;
  align-items: center;
}

.menuLogo {
  margin: 14px 0 14px 140px;
}

.menuTitle {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}

.menuMenuBox {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.menuItem {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.menuItemActive {
  color: #ffc401;
  font-size: 20px;
  cursor: pointer;
}

.menuBurger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.menuBurger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #000;
}

.menuBurger::before,
.menuBurger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}

.menuBurger::before {
  top: 0;
}

.menuBurger::after {
  bottom: 0;
}

.menuBurger.active span {
  position: fixed;
  top: 10px;
  transform: scale(0);
}

.menuBurger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menuBurger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.menuContact {
  display: flex;
  align-items: center;
  margin-right: 120px;
}

.menuPhone {
  margin-left: 10px;
  font-size: 18px;
  color: #000;
}

.manuLink {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: #000;
  padding: 10px 42px;
  background-color: #ffc401;
  border-radius: 50px;
  font-size: 20px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.manuLink:hover {
  margin-left: 30px;
  color: #000;
  padding: 10px 42px;
  background-color: #ffc401;
  border-radius: 50px;
  font-size: 20px;
  line-height: 150%;
  transform: scale(1.1);
}

.open {
  display: flex !important;
  padding-top: 70px;
}

.CallBox {
  display: none;
  width: 50vw;
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: white;
  z-index: 100;
  opacity: 1;
}

.CallBox.active {
  display: block;
}

.closeIconBox {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.callLogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.callNumber {
  display: flex;
  font-size: 28px;
  color: #000;
  justify-content: center;
  margin-top: 80px;
}

.callName {
  margin-left: 30px;
}

.callCopyBox {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.callCopy {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding: 14px 38px;
  border-radius: 50px;
  background: #ffc401;
  color: #253238;
  font-size: 24px;
  line-height: 250%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.callCopy:hover {
  line-height: 250%;
  transform: scale(1.1);
}

@media (max-width: 1440px) {
  .menuMenuBox {
    gap: 0 15px;
  }
  .menuLogo {
    margin: 14px 0 14px 70px;
  }
  .menuContact {
    margin-right: 30px;
  }
}
@media (max-width: 1200px) {
  .CallBox {
    display: none;
    width: 80vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: white;
    z-index: 100;
    opacity: 1;
  }
  body.lock {
    overflow: hidden;
  }
  .menuContact {
    display: none;
  }
  .menuLogo {
    margin: 14px 0 14px 10px;
  }
  .menuBurger {
    display: flex;
    margin-right: 30px;
  }
  .menuMenuBox {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: white;
    row-gap: 30px;
    animation: burger 0.4s;
  }
  @keyframes burger {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  .callNumber {
    font-size: 20px;
  }
  .callName {
    font-size: 20px;
  }
  .callLogoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* -------------------orderForm------------------------ */
.orderGoodsWrapper {
  display: none;
  width: 70vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: white;
  z-index: 100;
  opacity: 1;
}
.orderGoodsWrapper.active {
  display: block;
}
.consultationFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultationTitle {
  margin: 100px 50px 40px 50px;
  /* max-width: 420px; */
  color: #000;
  text-align: center;
  font-size: 40px;
  line-height: 100%;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.consultationText {
  /* max-width: 350px; */
  margin: 0 85px;
  color: #253238;
  text-align: center;
  font-size: 20px;
}
.productOrderInputBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 70px 10px 0 10px;
}
.consultationPhone {
  /* max-width: 350px; */
  height: 48px;
  padding: 13px 25px 13px 25px;
  font-size: 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.1);
  /* margin: 60px 85px 40px 85px; */
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.consultationPhone:hover {
  border-color: #fac000;
}

.consultationPib {
  /* max-width: 350px; */
  height: 48px;
  padding: 13px 25px 13px 25px;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.1);
  /* margin: 0 85px; */
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.consultationPib:hover {
  border-color: #fac000;
}
.consultationEmail {
  /* max-width: 350px; */
  height: 48px;
  padding: 13px 25px 13px 25px;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.1);
  /* margin: 0 85px; */
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.consultationEmail:hover {
  border-color: #fac000;
}

.consultationSubmit {
  /* display: inline-flex; */
  padding: 20px 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #ffc401;
  /* margin: 60px 85px 40px 85px; */
  color: #253238;
  font-size: 20px;
  line-height: 150%; /* 30px */
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.consultationSubmit:hover {
  transform: scale(1.1);
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
  .consultationSubmit {
    padding: 10px 40px;
  }
  .orderGoodsWrapper {
    width: 85vw;
    height: 50vh;
  }
  .consultationTitle {
    margin: 60px 25px 40px 25px;
    font-size: 24px;
  }

  .consultationText {
    /* max-width: 350px; */
    margin: 0 25px;
    font-size: 16px;
  }
  .productOrderInputBox {
    gap: 15px;
    margin: 50px 10px 0 10px;
  }
  .consultationSubmit {
    margin-top: 20px;
  }
}
/* ---------------------------------------------------- */
.weldedMeshInfoText {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 240px 0 240px;
}

.wdMEsh {
  padding-bottom: 60px;
}

.weldedMeshInfoBox {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px 180px;
  gap: 40px;
}

.meshWelde1 {
  border-radius: 5px;
}

.imgDetailProduct1 {
  max-width: 600px;
  max-height: 650px;
}

.meshWeldedTitle {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.meshWeldedDescr {
  color: #455b66;
  font-size: 24px;
  line-height: 150%;
}

.meshWeldedList {
  margin-top: 40px;
}

.meshWeldedList li {
  list-style: inside;
  color: #455b66;
  font-size: 22px;
  line-height: 150%;
}

.meshWelde2 {
  border-radius: 5px;
}

.weldedMeshInfoBox2 {
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #fff;
  padding: 20px 160px;
  gap: 40px;
}

.meshClose1 {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  width: 230px;
  background-color: rgb(250, 74, 74);
}

.productCanilirBox {
  margin-left: 20px;
}
.weldedMeshInfoWrapper8 {
  /* display: none; */
  max-width: 1920px;
  background-color: #eee;
}

.weldedMeshInfoWrapper8.active {
  display: block;
}

.product8.active {
  display: none;
}

.product8 {
  display: block;
}

.meshClose8 {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  max-width: 300px;
}
.productInfoBox {
  display: flex;
  align-items: center;
  /* height: 70px; */
  justify-content: space-around;
  margin-top: 50px;
}
.productInfoDetail {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding: 20px 42px;
  border-radius: 50px;
  background: #ffc401;
  color: #253238;
  font-size: 20px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.productInfoDetailClose {
  padding: 20px 42px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  width: 230px;
  background-color: rgb(250, 74, 74);
  color: #253238;
  font-size: 20px;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.productInfoDetail:hover {
  padding: 20px 42px;
  border-radius: 50px;
  background: #ffc401;
  color: #253238;
  font-size: 20px;
  line-height: 150%;
  transform: scale(1.1);
}

@media (max-width: 1440px) {
  .weldedMeshInfoBox {
    padding: 20px 60px;
  }
  .weldedMeshInfoBox2 {
    padding: 20px 60px;
  }
  .meshWeldedTitle {
    font-size: 36px;
  }
  .meshWeldedDescr {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .weldedMeshInfoText {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 0 40px;
  }

  .weldedMeshInfoBox {
    display: block;
    text-align: center;
  }
  .weldedMeshInfoBox2 {
    display: block;
    text-align: center;
  }
  .meshWelde1 {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .meshWelde2 {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .productInfoDetail {
    margin: 20px auto;
  }
  .meshWeldedTitle {
    font-size: 24px;
  }
  .meshWeldedDescr {
    font-size: 16px;
  }
  .weldedMeshInfoText {
    margin: 30px 40px 0 40px;
  }
  .productInfoBox {
    flex-direction: column;
    height: none;
    margin-top: 40px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  max-width: 1920px;
  height: 320px;
  background: rgba(52, 52, 52, 0.91);
  position: relative;
}

.footerInfo {
  width: 295px;
}

.footerLogo {
  margin-top: 33px;
}

.footerTitle {
  color: #fdc500;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
}

.footerText {
  margin-top: 16px;
  color: #fff;
  font-size: 14px;
}

.footerMenuBox {
  margin: 30px 0 0 0px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.footerMenuItem {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.footerMenuItemActive {
  color: #ffc401;
  font-size: 20px;
  cursor: pointer;
}

.socialNetwork {
  margin: 58px 0 0 0px;
}

.socialTitle {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.socialBox {
  display: flex;
  margin-top: 10px;
  gap: 0 20px;
}

.subscribe {
  margin: 58px 0 0 0px;
}

.subscribeTitle {
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.subscribeInput {
  width: 266px;
  height: 40px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
  color: #000;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0px;
  padding: 8px 10px;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribeCheckbox {
  margin-top: 5px;
}

.subscribeCheckboxText {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribeSubmit {
  width: 150px;
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ffc401;
  color: #253238;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}

.subscribeSubmit:hover {
  width: 150px;
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ffc401;
  color: #253238;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: scale(1.1);
}

.subscribeCheckboxText {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: Orelega One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Hide the browser's default checkbox */
.subscribeCheckboxText input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -5px;
  left: 2px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.subscribeCheckboxText:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.subscribeCheckboxText input:checked ~ .checkmark {
  background-color: #ffc401;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.subscribeCheckboxText input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.subscribeCheckboxText .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 16px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .footer {
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
  }
  .footerInfo {
    padding: 0 20px;
  }

  .footerMenuBox {
    padding: 0 20px;
  }
  .socialNetwork {
    padding: 0 20px;
  }
  .copyright {
    text-align: center;
    position: relative;
    margin-top: 30px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribeSubmit {
    width: auto;
  }
  @media (max-width: 480px) {
    .footerInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footerText {
      text-align: center;
    }
  }
} /*# sourceMappingURL=style.css.map */
